body{
    background-color: black;
}
h1{
    color: white;
}
div{
    text-align: center;

}

button{
    height: 2em;
    width: 5.5em;
   
    border: none;
    color: white;

}
button:hover{
    cursor: pointer;
}
.but_start{
    background-color: green;
}
.but_pause{
    background-color: grey;
}
.but_stop{
    background-color: red;
}